[2012-01-30 14:33] potomak opened #3 "Test"
http://bloggemdano.blogspot.com/2012/01/testing-jquery-plugin-with-expectthat.html

[2012-02-02 11:05] TonyNg opened #4 "no method 'instagram'"
I'm getting a no method 'instagram' from following the sample provided in the Readme.  Any suggestions?

 `$(".instagram").instagram({`

[2012-02-02 13:06] potomak commented on #4
Did you import plugin script?

[code]

[2012-02-02 19:21] TonyNg commented on #4
Okay, turns out that I used the source from your page instead of grabbing the most recent version on Github.

It works now that I'm using the updated code.

[2012-02-02 19:21] #4 closed, assigned to nobody

[2012-02-06 09:02] potomak opened #5 "Auth token"
See example: https://github.com/yvesvanbroekhoven/get-your-instagram-user-id

[2012-03-27 14:35] macsupport opened #6 "Using text input to change hash won't change tag in next_url"
I'm trying to add  the ability to change the hash in a text input (selectedHash) and then have new images with this new tag load when the "more" button is pressed as in your example code. I can see in the console that the hash changes but not the url. Obviously I'm missing something as to getting the tag in the next_url to change. Any help would be appreciated!
Here is my code.

[code]

[2012-03-27 15:37] potomak commented on #6
Please put a working example on http://jsfiddle.net/

[2012-03-27 18:59] macsupport commented on #6
Here is a fiddle. You can see the hash change but not the insta_url

http://jsfiddle.net/macsupport/NZ8Yu/

My page in process, using Instagram and Jquery Isotope:

http://http://www.instagraminate.com/boot.html

[2012-03-28 13:41] potomak commented on #6
Well, you're passing `next_url` option to `instagram()` call, this way the plugin ignores other options, see https://github.com/potomak/jquery-instagram/blob/master/jquery.instagram.js#L51.

See if this version works for you: http://jsfiddle.net/NZ8Yu/55/

[2012-03-29 08:55] #6 closed, assigned to nobody

[2012-03-31 13:54] joshuwack opened #7 "Thumbnail Size"
Is there a way to control the size of the thumbnail?

[2012-03-31 14:10] potomak commented on #7
Instagram API returns a list of images with the format:

[code]

See examples at http://instagram.com/developer/endpoints/media/

By default jquery-instagram uses `createPhotoElement` function to create image elements which takes thumbnail image URL and put it inside the `src` attribute of `img` element (see https://github.com/potomak/jquery-instagram/blob/master/jquery.instagram.js#L33).

You can

[2012-03-31 14:10] #7 closed, assigned to nobody

[2012-04-11 12:22] cmykaye opened #8 "Just says 'No photos for this query'?"
No matter what tag I use, nothing works?

Here's the .js file:

http://yyy.comuf.com/jquery.instagram.js

And the script:

$(function() {
  $(".instagram").instagram({
      hash: 'op'
    , clientId: '17329093'
  });
});

[2012-04-11 12:31] cmykaye commented on #8
I'm practicing with this file but same thing happens. I have a feeling it's a really stupid solution. :/

http://yyy.comuf.com/instagram.php

[2012-04-11 12:37] potomak commented on #8
It is, you're using a wrong `clientId`. If you're using Google Chrome you can look at Inspector's "Network" tab and see this response form Instagram API:

[code]

[2012-04-11 12:37] #8 closed, assigned to nobody

[2012-04-11 12:44] cmykaye commented on #8
How do I get the correct client ID?

[2012-04-11 12:50] potomak commented on #8
Go to http://instagr.am/developer/register/ and register a new client app then Flattr jquery-instagram at http://flattr.com/thing/269500/Instagram-jQuery-plugin :)

[2012-05-05 18:13] ghost opened #9 "Alternative method-Problem"
Hello! I am having problems with the alternative method.

Here is a working example on Fiddle.

http://jsfiddle.net/harisn/2DuGb/2/

The problem is when i run it on my server it doesn't work :s

http://demo.harisninios.com/

What i am doing wrong ?

[2012-05-06 08:03] potomak commented on #9
Hi,
you're not including jQuery.

Before posting any issue please double check javascript console for errors, you would have noticed the `Uncaught ReferenceError: jQuery is not defined` message.

[2012-05-06 08:03] #9 closed, assigned to nobody

[2012-07-24 20:34] bsudekum opened #10 "400 error"
I'm receiving a 400 error about about 40% of the time with my app. Mind taking a look? I'm not really sure what the problem is...

http://www.visuallybs.com/maps/happenings/

https://github.com/rsudekum/Happenings

Thanks!

[2012-07-26 10:00] potomak commented on #10
I think the problem has nothing to do with jquery instagram, but more informations would be useful

[2012-07-26 10:00] #10 closed, assigned to nobody

[2012-08-02 22:04] Deelite310 opened #11 "Pull from userId"
I have this installed, but I can't get anything when I call for userId.

Here is my call to the function:

<script>
    $(document).ready(function() {

$(".instagram.cid").instagram({
        userId: 'my_user_id',
        show: 5,
        clientId: clientId
      });

});
  </script>

And my div:

<div class="instagram cid"></div>

It doesn't populate.

[2012-08-03 08:13] rtaibah commented on #11
I am having the same issue. Thought I was crazy!

[2012-08-03 09:21] potomak commented on #11
I can confirm this error. It's due to an auth error for `/users/{user-id}/media/recent` API endpoint.

Trying to run:

[code]

results in this error:

[code]

At http://instagram.com/developer/authentication/ there are no clues about authorization request because `/users/{user-id}/media/recent` API endpoint is not user specific like `/users/self/feed` but in general there are no explicit informati

[2012-08-03 16:26] Deelite310 commented on #11
Okay, we would need to create a "login" to create the OAUTH session in order to get the feed from a userId since an Access Token needs to be created.

So, my question is how to include the access token within the code, so we can access the feed from the userId

[2012-08-13 22:32] potomak commented on #11
You can't _include the access token within the code_, see #5

[2012-09-09 13:08] julienchazal opened #12 "Show more than 20 pics"
Hello
Thx for your plugin !
I tried your alternative method to show more than 20 photos, but i get this error message :

Uncaught TypeError: Cannot read property 'pagination' of undefined

any idea please ?

thx !

[2012-09-11 21:32] jaarong commented on #11
I'd like to hire someone to add this functionality since I'm kind of new to javascript, would it actually be possible to pull in a my instagram account's liked photos to my web site?

[2012-09-12 07:49] Deelite310 commented on #11
I actually figured it out.   You just need to create a Client (get your client id, client secret ) and you can use it with this script.

http://instagram.com/developer/

Once you get your client information, you have to find out what your User ID is:
http://yvesvanbroekhoven.github.com/get-your-instagram-user-id/

I can post what I did, but the code is at work (*note to self to place in a reposito

[2012-09-12 13:37] jaarong commented on #11
Yes, posting your code would be great.  I'm having a hard time following the OAuth stuff and how it applies here given that I can't just put the client secret in the js so that the visitor can see it.

[2012-09-14 21:53] julienchazal commented on #12
Any ideas please ?
Here's the link : http://www.eurowcable2012.com/pics2.html

thx

[2012-10-07 21:35] ghost opened #14 "Set show to 20 and it shows 14"
I have set the show to 20 and it only shows 14. Set it to show 2 and it only shows 1.

my version of your plugin. http://pastebin.com/iX4vjheA

[2012-10-07 21:47] potomak commented on #14
Please create a new fiddle at http://jsfiddle.net/ with your code linking the latest jquery-instagram library.

[2012-10-07 21:51] ghost commented on #14
The best way would be to link you to what I'm working on as I have edited the jquery-instagram file

http://flatterd.cleanly.co/

http://flatterd.cleanly.co/assets/js/instagram.js

[2012-10-07 21:54] potomak commented on #14
Please post a fiddle to let me test your code in a _controlled environment_, I'm here to help about jquery-instagram, not about the whole app.

[2012-10-11 15:40] guirogieri commented on #14
I have the same problem. Not showing all photos tagged. Have an issue on instagram.js file?!

[2012-10-12 23:58] adaptive opened #15 "Merging w/ DamianMullins / jquery-instagram"
Request to pull the: Added setting to specify image size on  DamianMullins / jquery-instagram

[2012-10-13 15:51] potomak commented on #15
Please @DamianMullins create a new pull request with requested feature.

[2012-10-13 16:09] potomak commented on #15
Closed by #16

[2012-10-13 16:09] #15 closed, assigned to nobody

[2012-10-17 14:52] jmtmay commented on #11
Any update on this? I'm having the same issue.

[2012-10-17 15:09] potomak commented on #12
You're using an outdated version of the plugin.

[2012-10-17 15:09] #12 closed, assigned to nobody

[2012-10-17 15:33] potomak commented on #14
Here's my test: http://jsfiddle.net/tzxE5/

[2012-10-17 15:33] #14 closed, assigned to nobody

[2012-10-17 15:38] ghost commented on #14
From what I managed to get on console.log a few times. The
script/plugin sometimes doesn't pass through the data along with the
image.

On 2012-10-17 16:33, Giovanni Cappellotto wrote:

## Links:

[1]
http://jsfiddle.net/tzxE5/
[2]
https://github.com/potomak/jquery-instagram/issues/14#issuecomment-9531766

[2012-10-17 15:44] guirogieri commented on #14
sometimes, this ocurrs because some users use private photos.

[2012-10-17 15:46] ghost commented on #14
That'll explain it, is there a way to exclude such images?

On
2012-10-17 16:44, guirogieri wrote:

## Links:

[1]
https://github.com/potomak/jquery-instagram/issues/14#issuecomment-9532216

[2012-10-17 15:50] guirogieri commented on #14
I dont know. But try this in your ajax request.

[code]

And create this function to call the rest of images.

[code]

[2012-10-17 15:58] potomak commented on #14
@guirogieri is right, thanks for pointing it out and see also https://groups.google.com/d/msg/instagram-api-developers/nKik4i8OYhw/l0HxXHvpnIAJ

[2012-10-19 20:50] julienchazal commented on #12
sorry ;-)
thanks !!!

[2012-10-30 15:26] yvesvanbroekhoven commented on #11
Hi guys,

I've just wrote a small tutorial on how to get an access token & client id for showing your personal Instagram feed:
https://github.com/yvesvanbroekhoven/get-your-instagram-user-id/wiki/How-to-give-a-jquery-instagram-access-to-your-personal-Instagram-feed

[2012-10-30 18:00] potomak opened #17 "Plugin manifest"
See https://github.com/jquery/plugins.jquery.com/blob/master/docs/manifest.md

[2012-11-01 20:49] jelled commented on #11
Here's a simple web interface for obtaining an instagram access token to use with this script.

http://jelled.com/instagram/access-token

[2012-11-12 19:00] potomak opened #18 "Update link to Instagram developer site"
Update link at https://github.com/potomak/jquery-instagram/blob/master/README.md#authentication to http://instagram.com/developer/clients/register/

[2012-12-05 15:32] ghost commented on #11
Hey guys,

First of all, many thanks to potomak for the code. I just want to share how I made it work on my site (I havent finished it yet so I cant post the link. Sorry.)

By this time, I presume you have already registered a new client: http://instagram.com/developer/clients/manage/.

You will need the CLIENT ID and REDIRECT URI to make it work. You will also have to get your USER ID. I got mine

[2012-12-05 17:47] ivandotv opened #19 "next_max_id and min_id are deprecated"
Response:

[2012-12-15 14:28] potomak opened #21 "Avoid HTML generation if onComplete callback is present"

[2012-12-17 19:00] vprofeta12 commented on #11
What is the exact access token, and where do I place it within my instagram.js file or the code on my index page. I have the access token I just dont know what to do with it. I tried pasting it into my code but I keep getting

meta: {error_type:OAuthParameterException, code:400,…}
code: 400
error_message: ""access_token" URL parameter missing. This OAuth request requires an "access_token" URL para

[2012-12-17 19:01] vprofeta12 commented on #11
bboybulate, What do I do next?????

[2012-12-30 22:35] itsdavidhughes opened #22 "Display photographer username?"
How would you display the photographer's username alongside the photo?

Thanks so much for this plug in.

[2012-12-31 09:55] potomak commented on #22
You can use the `onComplete` callback, example at: http://jsfiddle.net/QU8xh/1/

[2012-12-31 09:55] #22 closed, assigned to nobody

[2013-01-13 08:18] bradcerasani opened #23 "Request: Display photos from 'userId' tagged 'hash'"
These two functions are available independently, any possible way to combine them?

I don't think the Instagram API readily supports this, but perhaps it's possible to fetch all images from a specific user and then filter those images by hashtag?

[2013-01-13 08:52] potomak commented on #23
As you notice this isn't an Instagram API function (see http://instagram.com/developer/endpoints/users/#get_users_media_recent) so I think this shouldn't be implemented as a library function.

[2013-01-13 08:52] #23 closed, assigned to nobody

[2013-01-17 13:32] ghost opened #24 "Merging with "Animated Responsive Image Grid""
Hello,

So I have got the point of changing the jquery instagram plugin to publish the photos into a UL list instead of divs. That was fairly straight forward.

Next I installed the "Animated Responsive Image Grid" from this source: http://tympanus.net/codrops/2012/08/02/animated-responsive-image-grid/

In their plugin they take that UL list of images, strip the image from the li and add it as an

[2013-01-17 13:39] #17 closed, assigned to potomak

[2013-01-28 15:07] bodrovis opened #25 "Returning photos with https instead of http"
Hello.

By default photos returned by Instagram use http, like "http://distilleryimage5.s3.amazonaws.com/some_photo.jpg". Is there any way to instruct Instagram API to return photos using https, not http?

[2013-01-28 15:14] moiseevigor commented on #25
The workaround is to simply substitute "http" by "https".
Should work "https://distilleryimage5.s3.amazonaws.com/some_photo.jpg"

[2013-01-28 15:18] bodrovis commented on #25
Well, yes, but i thought that there may be some special parameter for it (for lazy programmers :)). For example, Facebook provides an option called return_ssl_resources, like this: "https://graph.facebook.com/username/picture?return_ssl_resources=1"

[2013-01-28 15:26] moiseevigor commented on #25
As far as I know Instagram does not provide this functional and so nor jquery-instagram, which looks to me correct. Let's wait for potomak confirmation of this.

[2013-01-28 16:29] potomak commented on #25
@moiseevigor is right, there's not such option, see http://instagram.com/developer/endpoints/media/

[2013-01-28 16:29] #25 closed, assigned to nobody

[2013-02-22 00:22] ifollett commented on #11
For those who come across this thread you place the token in the initial function call like so:

[code]

[2013-02-22 00:37] potomak commented on #11
@ifollett it's wrong to expose your own `accessToken` publicly.

[2013-02-28 18:26] meldraw opened #26 "Additional condition: 'user_has_liked'"
Hi, I'm not an advanced JS coder, but trying to muddle through...

I'm looking for a way to "approve" the photos that appear in my gallery using this plugin. I thought perhaps I could do this by liking any hashtagged photos as a method of approval.

Is there a way to utilize this plug-in to return photos with both a hashtag AND a true "user_has_liked" key? I am using an oauth access token for the

[2013-02-28 18:39] potomak commented on #26
You can use the `onComplete` callback to filter results using the `user_has_liked` attribute, but with this plugin you can't include the `user_has_liked` as a search parameter.

[2013-02-28 20:10] meldraw commented on #26
What is the best way to implement this using onComplete? Would you place it in the function code on the page, or would you place it in the JS file? Can you provide sample code for me?

I appreciate it, thanks!

[2013-03-01 08:29] potomak commented on #26
Example: https://github.com/potomak/jquery-instagram#alternative-method

[2013-03-03 05:10] jrdn91 opened #28 "getting a 404 error coming back through"
Looks like this

https://api.instagram.com/v1/tags/?callback=jQuery1830384592188289389_1362287165365&_=1362287165377

It says the server didn't find anything there, not sure if they recently updated their url structure or something but I'm not getting anything back. I made sure my userId and secret are there.

[2013-03-03 09:52] potomak commented on #28
You should add a tag: https://api.instagram.com/v1/tags/test

[2013-03-03 09:52] #28 closed, assigned to nobody

[2013-03-03 09:53] #26 closed, assigned to nobody

[2013-03-03 20:38] jrdn91 commented on #28
Is there a way to do it without a hashtag?

[2013-03-20 11:22] salle81 opened #29 "Show numbers of likes and comments under images."
Hey.

Thanks for your great work. I have tried to show the likes and comments under the images without any good results. I have looked at this site. http://www.transparentspeaker.com/ and really liked there solution but haven get it to work by my own.

Do you have any tips how i can get this to work?

---- i solved it---

Best regards Henrik

[2013-03-20 18:15] betron commented on #29
Hey Henrik,

I may want to do this as well (if I can ever get this code to work and get an image displayed). Could you share how you pulled it off? Thanks.

[2013-03-20 18:17] salle81 commented on #29
Hey!

Check this user on git. This works perfect.

https://github.com/PhilipKnape/app

/ Henrik

---

Henrik Samuelsson
Mobil: +46 720 07 99 14
Mail: salle81@gmail.com

On Wednesday 20 March 2013 at 19:15, Brendan Tronconi wrote:

[2013-03-20 20:28] betron commented on #29
I can't find the live site for this code, I wanted to see how it looks on the page. Also, how do I get an accessToken from Instagram? I think I need this in order to use the userId and get the most recent photo from the account.

[2013-03-31 13:56] potomak opened #30 "Events"
The plugin should trigger events for:
- load
- complete

See also #21

[2013-03-31 13:58] potomak opened #31 "Tasks with Grunt"
Add Grunt to run tests, to compile the script, etc.

See also #3.

See http://miniboilerplate.com/

/cc @matthieua

[2013-03-31 14:07] potomak commented on #29
@betron you can see preview of any HTML file on GitHub using http://htmlpreview.github.com/?https://github.com/PhilipKnape/app/blob/master/index.html

Anyway, modify plugin's internals to show custom data is the wrong way to achieve this feature. This is the reason I'm working on a new version of the scripts that runs only the `onComplete` callback if provided, see #21.

/cc @PhilipKnape @salle81

[2013-03-31 14:07] #29 closed, assigned to nobody

[2013-03-31 14:13] potomak commented on #24
If you still need help with this task please post some code using http://jsfiddle.net/

[2013-03-31 14:14] potomak commented on #19
Thanks for pointing this out, can you please update the script and send a pull request?

[2013-03-31 14:17] #18 closed, assigned to potomak

[2013-04-02 15:49] ValeryCC commented on #11
How do you show a feed of your own account on your website? Why is this so hard?

[2013-04-02 15:59] potomak commented on #11
@valerita you can't without exposing your access token and it's so hard because that function of the API is not public.

[2013-04-02 16:01] ValeryCC commented on #11
So does this mean it's impossible at this point?

[2013-04-02 16:11] potomak commented on #11
It's possible to show a list of photos by userId, but you can't show all your photos using only client side code in a secure way.

[2013-04-02 16:25] betron commented on #11
The only other work around I saw was by tagging all your photos with a unique hash tag and then pulling the photos onto your personal site by that tag. The problem is, you will display other user's photos if they happen to use that specific hash tag, as the service grows the chances of that only increase.

[2013-04-02 16:32] ValeryCC commented on #11
Wait, it's possible to show a list of photos by userID? I don't mind not showing all of my photos, as long as I can show something from my feed. So far this is what I have:

jQuery(".instagram").instagram({
      userID: 'user_id',
      show: 2,
      clientId: 'client_id'
      });

And the result seems to be completely random images that are not my feed at all.

@betron, I thought about that to

[2013-04-02 16:33] potomak commented on #11
@valerita see https://github.com/potomak/jquery-instagram/issues/11#issuecomment-7479253

[2013-04-02 16:58] ValeryCC commented on #11
Sorry I'm being a pain.  I definitely cannot create a plugin, so thank you for your efforts.

I just wonder how webstagram is able to show your own feed on your website so easily.  No need to sign up, just supply the username.  http://web.stagram.com/tools  The only thing annoying me with webstagram is that when a user clicks the image it goes to webstagram instead of instagram.  It'd be perfect i

[2013-04-02 23:33] potomak commented on #11
I think Webstagram is using server-side authenticated requests to Instagram to get the photos.

The real question is: which token are they using if you can see photos of any user without requiring authentication?

Possible answer: they're using an access token from one of their authenticated users.

Maybe you should ask Webstagram (@jmworks), I'm also curious about their solution...

[2013-04-03 01:14] joshuaturk opened #32 "Feed Not displaying all the time...."
I'm no programmer at all, solely a graphic designer, but with a little bit of luck and magic I finally pulled off your code to create this site

http://www.halilife.com

I found as soon as my site started to pick up some decent traffic though, the feed only displayed every now and then. I'm using your hashtag version.... does it have to do with how the site is caching elements? again I really have

[2013-04-03 01:32] joshuaturk commented on #32
![html-code](https://f.cloud.github.com/assets/4043027/331794/0505b7ba-9bfe-11e2-85e9-042dd6529627.png)

![html-code]
/*
- Instagram jQuery plugin
- v0.2.1
- http://potomak.github.com/jquery-instagram/
- Copyright (c) 2012 Giovanni Cappellotto
- Licensed MIT
  */

(function ($){
  $.fn.instagram = function (options) {
    var that = this,
        apiEndpoint = "https://api.instagram.com/v1",

[2013-04-03 07:14] potomak commented on #32
The code you're using is working, I'm sorry but I can't help you without a test case.

Please, do not expose your access token: `272376607.b468868.d1f3e9c0934a4ca988394a4a8ec57b43`

[2013-04-03 07:14] #32 closed, assigned to nobody

[2013-04-03 21:56] brettalton opened #33 "Overwriting PhotoLink and other settings"
I think there should be the ability to build your own anchor if you'd like and be able to overwrite the settings. So instead of using

[code]

You allow for the ability to override or not. Current it just says,

[code]

which only allows for bool.

And now that I have this script on CDNjs (http://cdnjs.com), vanilla copies may be preferred, rather than custom hacks to source code.

[2013-04-03 22:06] brettalton opened #34 "Callback"
Adding a callback to know when the plugin completes would be useful too.

http://stackoverflow.com/questions/2534436/jquery-plugin-adding-callback-functionality

Thoughts?

[2013-04-03 22:08] potomak commented on #33
I agree, but I'd like to let customize HTML code generation by overriding the `onComplete` callback, see #21.

[2013-04-03 22:12] potomak commented on #34
I think it's more useful to get triggered when call to Instagram API ends, see #30, but also this event (plugin execution end) could be triggered.

[2013-04-05 17:58] betron commented on #11
Could you explain why it's dangerous to display your accessToken publicly? I'm tempted to just do it, but afraid of what I don't know.

[2013-04-09 03:51] mandiwise opened #35 "Error in console when grabbing feed by lat/lng coordinates"
When I implement this plugin using a hash tag to pull a feed with a "more" button it works beautifully. However, when I try to get a feed of images based on latitude and longitude coordinates (again, with a more button) I get this error in the console:

`Uncaught TypeError: Cannot read property 'next_url' of undefined`

And of course, the more button doesn't work (just throws this error over and o

[2013-04-09 10:18] potomak commented on #35
Can you please post your code at http://jsfiddle.net/ ?

[2013-04-09 20:07] mandiwise commented on #35
No problem, posted it here: http://jsfiddle.net/mandiwise/53Cp6/

Please note that I left my Client ID out of the code, but it does pull in a feed from Instagram and throw the error as described above when I test it with my ID.

[2013-04-09 23:57] potomak commented on #19
`next_max_id` and `min_id` are never used by this script.

[2013-04-09 23:57] #19 closed, assigned to nobody

[2013-04-10 00:13] potomak commented on #35
I tested it myself and it seems like Instagram API doesn't accept pagination for `/media/search` requests.

Example request: https://api.instagram.com/v1/media/search?lat=49.283931&lng=-123.106336&client_id=XXX&count=5

[code]

[2013-04-10 00:13] #35 closed, assigned to nobody

[2013-04-11 19:59] noAlvaro opened #36 "requests with next_url show only 1 new photo"
Hey guys!

Thanks for the plugin... its awesome!

I'm trying to do use `next_url` parameter just like the [alternative method](https://github.com/potomak/jquery-instagram#alternative-method) presented in [main page](https://github.com/potomak/jquery-instagram). The call will return only one sole image, even if more than that is claimed by `show` parameter.

I think it's partially an API issue, as

[2013-05-05 19:16] ryanburnette commented on #11
If you reveal your access token publicly then anyone can just grab it out of the script and access the Ig API as you. They might use it in some malicious way which could cause you to lose access to the API or get your account banned.

I've been racking my brain looking for a way to show Instagram photos by user ID using a client-side script, but because of how the API works it just doesn't seem po

[2013-05-08 16:06] bhouse044 commented on #11
@bboybulate that works perfectly :+1:

[2013-06-04 07:21] potomak opened #38 "GitHub page script loading error"
[code]

[2013-06-09 08:18] cjch0 opened #39 "getting "object has no method 'instagram' " error."
i already saw this post: https://github.com/potomak/jquery-instagram/issues/4
but the solution does not apply in my case.

$(".instagram").instagram({
    hash: 'something',
    clientId: myClientId
});

I've imported the script and followed all instructions, but still nothing. please help!

[2013-06-09 13:13] potomak commented on #39
create a fiddle or post your code here to get support please

[2013-06-09 21:43] cjch0 commented on #39
http://jsfiddle.net/ZqHhs/4/

here is my fiddle. I loaded the same external resource uri that you used in
your fiddles.

On Sun, Jun 9, 2013 at 6:13 AM, Giovanni Cappellotto <
notifications@github.com> wrote:

[2013-06-09 22:37] potomak commented on #39
New versions of Chrome browser don't allow javascript resources with the wrong MIME type.

See the error:

[code]

Example solution: use http://cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.2.2/jquery.instagram.js (http://jsfiddle.net/ZqHhs/5/)

See also #38

[2013-06-09 22:37] #39 closed, assigned to nobody

[2013-06-10 07:52] #38 closed, assigned to nobody

[2013-06-11 17:17] michaelgiaimo opened #40 "Change default distance using lat/long search?"
According to the API specs:

Default is 1000m (distance=1000), max distance is 5000.

Do we have control over it in this script?  Would love to reduce it for greater accuracy.  I see  in line 87:

[code]

[2013-06-12 14:03] potomak commented on #40
@velcrobots you're right, you can set the `distance` parameter adding a distance attribute to the `search` object.
If you want to update documentation I'd be glad to merge such pull request.

[2013-06-12 14:03] #40 closed, assigned to nobody

[2013-06-12 14:21] michaelgiaimo commented on #40
Awesome, will do.  Does this mean we can also pass the 'FOURSQUARE_V2_ID' or 'FOURSQUARE_ID'?

[2013-06-12 14:25] potomak commented on #40
Well, no (see https://github.com/potomak/jquery-instagram/blob/master/jquery.instagram.js#L81-88), but you can add those search parameters and make a pull request.

[2013-07-23 02:18] ghost opened #41 "setting distance parameter when using location"
Is it possible to set a distance as outlined <a href="http://instagram.com/developer/endpoints/locations/">here</a> when using locationId? This way you can more or less retrieve photos within a certain distance of a given location. This is already a part of the Instagram API.

[2013-07-23 07:51] potomak commented on #41
Yes, it is, see #40

[2013-07-23 07:51] #41 closed, assigned to nobody

[2013-07-23 13:59] ghost commented on #40
Do you mind adding this to the documentation? BY this, I mean setting the distance parameter by adding a distance attribute to the search object. Thanks!

[2013-07-23 15:12] ghost commented on #33
is there currently anyway to override the HTML as proposed above? I would like to enlarge images using a lightbox versus bringing the user to the instagram site.

[2013-07-23 20:50] michaelgiaimo commented on #40
I'd love to - I've actually never contributed to a project on GitHub
though.  Do I just clone it, edit the ReadMe, then commit?

On Tue, Jul 23, 2013 at 9:59 AM, JBIRD1111 notifications@github.com wrote:

[2013-07-23 21:14] potomak commented on #40
It's even easier:
1. open https://github.com/potomak/jquery-instagram/blob/master/README.md
2. click "Edit"
3. send the pull request

[2013-08-08 21:13] matteobelfiore opened #42 "Likes Limits"
Hello,

does anyone know why I get a correct likes count for a photo, let's say 11 for example, and then in the following array containing the likes I only have 3 or 4 cells, and not all the 11 likes?

It happens with all the photos I try to retrieve.

Thanks for your help.

Matt

[2013-08-08 21:41] potomak commented on #42
@heartbox lists of photos contain only a subset of likers (see example response at http://instagram.com/developer/endpoints/media/#get_media_popular), if you need to retrieve them all you must make a call to http://instagram.com/developer/endpoints/media/#get_media

[2013-08-08 21:41] #42 closed, assigned to nobody

[2013-08-08 21:48] matteobelfiore commented on #42
Yeah the problem is that I'm retrieving them per tag and not per media id or popularity. How do I solve this in my situation? Thanks for your help

[2013-08-09 07:55] potomak commented on #42
You should request each media individually to retrieve the whole list of likers.

[2013-08-10 14:51] potomak commented on #36
Are you still having this issue?
Can you please provide example code for your issue?

[2013-08-10 14:52] potomak commented on #34
Since version [0.3.0](https://github.com/potomak/jquery-instagram/releases/tag/0.3.0) plugin triggers a `didLoadInstagram` event, see https://github.com/potomak/jquery-instagram#didloadinstagram

[2013-08-10 14:52] #34 closed, assigned to nobody

[2013-08-10 14:54] potomak commented on #33
Since version [0.3.0](https://github.com/potomak/jquery-instagram/releases/tag/0.3.0) plugin doesn't generate code anymore, see also documentation for the `didLoadInstagram` event: https://github.com/potomak/jquery-instagram#didloadinstagram

[2013-08-10 14:54] #33 closed, assigned to nobody

[2013-08-10 14:56] #11 closed, assigned to nobody

[2013-08-10 14:56] potomak commented on #24
Closing due to inactivity.

[2013-08-10 14:56] #24 closed, assigned to nobody

[2013-08-10 14:57] potomak commented on #31
Closed by 13be195

[2013-08-10 14:57] #31 closed, assigned to potomak

[2013-08-10 14:58] potomak commented on #30
Closed by 13be195

[2013-08-10 14:58] #30 closed, assigned to potomak

[2013-08-10 14:58] potomak commented on #3
Closed by 13be195

[2013-08-10 14:58] #3 closed, assigned to nobody

[2013-08-10 14:58] potomak commented on #21
Closed by 13be195

[2013-08-10 14:58] #21 closed, assigned to potomak

[2013-08-15 20:54] AnSavvides opened #43 "Access token & client id check inconsistent with comment"
I am referring to the following [part of the code](https://github.com/potomak/jquery-instagram/blob/master/src/instagram.js#L15):

[code]

The error message suggests that you must provide an access token _or_ a client id, however in reality the code itself has the _and_ (`&&`) logical operator. So, either the error message should read `'You must provide an access token and a client id'`, or the co

[2013-08-15 22:11] Mac-B commented on #43
This to me looks like it already has the correct conditional,

One of the two must be set,
so if both are in fact null,
then neither of the two were set,
meaning this error message is the correct one,
Alerting the user that he/she needs to include at least one of those two parameters.

On Thu, Aug 15, 2013 at 1:54 PM, Andreas Savvides
notifications@github.comwrote:

[2013-08-16 07:59] potomak commented on #43
@Mac-B is right, if `accessToken` _and_ `clientId` are `null` than you didn't provide `accessToken` _or_ `clientId`.

[2013-08-16 07:59] #43 closed, assigned to nobody

[2013-08-16 09:50] AnSavvides commented on #43
Fair enough, I guess it is open to interpretation, but as an end user if I did not provide an `accessToken` nor a `clientId` (i.e. both `null` or `undefined` since you are not using strict equality) and I got an error message saying `'You must provide an access token or a client id'` that implies to me that I simply need to provide _only one_ of the two, _not_ both which is misleading.

Anyhow, if

[2013-08-16 10:04] potomak commented on #43
Thanks for your comment and for your participation but it's not about interpretations, it's logic.
If you're not sure about the implementation just add some tests to prove I'm not right, see also https://github.com/potomak/jquery-instagram/blob/master/test/instagram_test.js#L9-17

_Note about type checking:_ I'm checking only for `== null` because both `accessToken` and `clientId` are initialized

[2013-08-16 10:15] AnSavvides commented on #43
Cool, I might have a poke about once I get a free moment and see if I can convince you - just trying to be helpful really because this is a pretty cool library you've built :)

About type checking: If you are only checking for `null` then you can use [strict equality](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_when_to_use_them) (`===`) to avoid [type conversio

[2013-08-16 13:21] potomak commented on #43
See this example: http://jsfiddle.net/hR4um/

Case 1 & 2: everything is fine.
Case 3: exception, neither `a` nor `b` is not `null`.
Case 4: everything is fine even if both `a` and `b` are useless together since only one will be used.

About type checking: I know about type conversions issues but again I don't care about them because `accessToken` and `clientId` are initialized to `null`.

[2013-08-16 13:38] AnSavvides commented on #43
Ah, I knew it was all about interpretation - the problem here was that I just interpreted the code _wrongly_, so 100% my mistake. You are absolutely right. Thank you for taking the time to respond :)

[2013-08-16 13:47] potomak commented on #43
It's been a pleasure, I'm glad you spent some time reviewing my code.

[2013-09-03 12:36] bodrovis opened #44 "instagramjs-rails gem is available for Rails developers"
Hello. I have created a gem (library) to allow Rails developers easily include Instagram.js to their projects. It can be installed by calling `gem install "instagramjs-rails"`. More detailed information can be found here https://github.com/bodrovis/instagramjs-rails. So you can mention this gem in the Readme file.

[2013-09-03 13:06] potomak commented on #44
If you want to make a PR mentioning the gem in the README I'll merge it.

[2013-09-03 13:06] #44 closed, assigned to nobody

[2013-09-06 11:43] potomak commented on #36
Closing due to inactivity.

[2013-09-06 11:43] #36 closed, assigned to nobody

[2013-12-06 07:16] besingamk opened #47 "limit output display"
i want to display 5 items only. how can i do that?

[2013-12-06 09:07] potomak commented on #47
See https://github.com/potomak/jquery-instagram#count

[2013-12-06 09:07] #47 closed, assigned to nobody

[2014-01-11 03:05] jet2k opened #48 "v0.2.1 Now producing "no photos for this query""
Client ID etc are all correct. Nothing changed. Simply stopped working one day? :(

[2014-01-11 09:28] potomak commented on #48
Please provide more debug info about this issue or just update to version 0.3.

[2014-01-11 16:04] jet2k commented on #48
Thank you for responding and for the cool script! Hopefully this helps

jQuery19107822789635579199_1389455812110({"meta":{"error_type":"OAuthAccessTokenException","code":400,"error_message":"The access_token provided is invalid."}})

the code:
http://pastebin.com/ueKBYsyf

[2014-01-11 16:41] potomak commented on #48
Simply `The access_token provided is invalid`. Try a new client id.

Closing as it's not a jQuery Instagram issue.

[2014-01-11 16:41] #48 closed, assigned to nobody

[2014-02-11 00:51] pburtchaell opened #50 "Best method for pulling photos with a specific hash from only two users"
Is this possible?

The first method that comes to mind is:

[code]

Would that be supported? If not, any suggestions as how to go about it?

[2014-02-11 01:10] pburtchaell commented on #50
Did a bit of additional research and discovered it is not possible with the Instagram API. Closing.

[2014-02-11 01:10] #50 closed, assigned to nobody

[2014-02-27 20:50] dryke-chris opened #51 "Possible to display photos from multiple accounts?"
I have a client uses has an Instagram feed on the front page of their web site and now wants to be able to feed photos from multiple Instagram users. Is this possible?

[2014-02-28 07:59] potomak commented on #51
Please use StackOverflow or similar applications for this type of questions.
Add a comment to this issue with the question link for reference if you want.

[2014-02-28 07:59] #51 closed, assigned to nobody

[2014-07-12 17:33] petripottonen commented on #15
Hi there!
What happened here, I don't see the option for image sizes on the newest commit? I only see it on  @DamianMullins fork which is a lot older?

[2014-07-12 17:47] potomak commented on #15
@ketri the plugin doesn't generate anymore HTML code for you so you don't need to specify image size. See an example usage at http://potomak.github.io/jquery-instagram/

[2014-07-12 21:37] petripottonen commented on #15
@potomak Thanks very much for your reply.
Unfortunately still don't quite understand how to proceed if I want to use larger images than 150px*150px that example gives out.
Is there a way to make the plugin get larger versions of the images?

Thanks!

[2014-07-12 21:40] petripottonen commented on #15
Ahh, now I got it. I just change.
.attr('src', photo.images.thumbnail.url);
to
.attr('src', photo.images.standard_resolution.url);
or
.attr('src', photo.images.low_resolution.url);

I found this info from another issue, is this available on the readme or somewhere for new users?

[2014-07-12 22:18] petripottonen opened #53 "What is the limit for number of images? Is it possible to overcome it or implement infinite scroll?"
Hello

It seems that there is a limit where I cannot load more images. I read another issue here where it said that since some instagram-photos are private, it won't always output as many images as specified. But even if I put something like 1000, there seems to be a limit besides that.

Is it possible to make another requst to load more images and this way create infinite scroll type behaviour?

[2014-07-12 22:21] petripottonen commented on #53
Ok, it might have been a "bug", since there may not be enough images on the area I was searching.

[2014-07-13 07:17] potomak commented on #53
Please see https://github.com/potomak/jquery-instagram#count

[2014-07-13 07:17] #53 closed, assigned to nobody

[2014-09-05 06:07] mathetos opened #54 "Hide accesstoken and userID"
Do you have a suggestion for hiding the accesstoken and userID from being output onto the page when using this? I don't think users would really like that info to be naked in their site code. Do you have examples of this being used publicly. I noticed the demo only uses the clientID which is fine because you can limit your Client by domain, but not so when pulling info from a personal account.

An

[2014-09-05 08:42] potomak commented on #54
Does #5 answer your question?
If you have more questions please put them on StackOverflow.

[2014-09-05 08:42] #54 closed, assigned to nobody

[2015-03-21 22:32] RSNY opened #55 "Doesn't load"
I am not sure why, but it does not work at all =(
Example code is not working, i see the request to instagram api but nothing is loaded
Also installed bower component, does not helped much. I am not a pro developer, but using the example and legal instagram auth token, client id does not make it happen

[2015-03-22 01:54] potomak commented on #55
Example code seems to work, please put more info about the error or close the issue and create a new Stack Overflow to get help to solve your issue.

[2015-08-14 20:22] saryan7 opened #58 "Images appending twice"
Hi, This is probably just a dumb mistake I'm making but I'm having a problem with the

[code]

running twice so my images get appended twice.  I know its running twice because I checked it with a print statement.  Here is the full function in my code:

[code]

Thanks for any help on this

[2015-08-14 20:57] potomak commented on #58
There's nothing special going on with in the `instagram` function, it just triggers a `didLoadIntagram` event on XHR request success callback, see https://github.com/potomak/jquery-instagram/blob/d23926bf780314525d22b89d857685248618be30/src/instagram.js#L63.

Try to put this question on StackOverflow (or similar) to get help about how to use the library.

Suggestion: I think you can get rid of `jQ

[2015-08-14 20:57] #58 closed, assigned to nobody

[2016-01-29 19:18] sonika12 commented on #55
I am a novice at JavaScript and JQuery, cannot find where I should substitute the client ID, access token in the code or in which file. I have generated the client info and access token info from the instagram.
Thank you for sharing the code!

[2016-01-29 19:34] potomak commented on #55
@sonika12 please create a new StackOverflow question and share it with a mention to https://twitter.com/johnnyaboh.

I'll close this issue because it isn't valid.

[2016-01-29 19:34] #55 closed, assigned to nobody

[2016-01-29 20:44] sonika12 commented on #55
Thank you Potomak, Just posted the question

http://stackoverflow.com/questions/35093688/instragram-hashtag-search

I appreciate you sharing the code.

On Fri, Jan 29, 2016 at 1:34 PM, Giovanni Cappellotto <
notifications@github.com> wrote:

[2016-06-03 10:58] ghost opened #59 "Instagram unshown"
Hello, This is Ryo, web director from Japan.

I have a question about Instagram plugin.
The website we built have not shown Instagram from yesterday.
could be cause of ：https://www.instagram.com/developer/

could you clear this problem??

thank you.

[2016-06-03 13:50] potomak commented on #59
Yes, it seems like the use case that this plugin tries to cover is not supported anymore by the new API policies.

I was trying to submit the example app used at http://potomak.github.io/jquery-instagram/ for review and this is the result:

![screen shot 2016-06-03 at 9 48 34 am](https://cloud.githubusercontent.com/assets/153842/15780588/6eff3580-2970-11e6-8012-0380622fe141.png)

More info at http

[2016-06-04 01:25] xwisnux commented on #59
Use **userId** and **accessToken** instead of clientId, this works for me. You can get your acces token here: http://instagramwordpress.rafsegat.com/docs/get-access-token/

`$('.instagram.tag').on('didLoadInstagram', didLoadInstagram);
    $('.instagram.tag').instagram({
        hash: 'YOUR_HASH',
        count: 12,
        userId: USER_ID,
        accessToken: ACCESS_TOKEN
    });`

[2016-06-04 17:29] potomak commented on #59
@xwisnux you're correct, thanks for pointing this out.

I must say I liked it better before when you didn't need to share an access token publicly to use the Instagram API.

[2016-06-05 02:39] xwisnux commented on #59
@potomak Correct, but it seems that is our only best shot at the moment. Hopefully there will be another way than showing our access token.

[2016-06-08 05:59] ghost commented on #59
@potomak @xwisnux
Thank you for telling it me!
It worked from using new access toke yesterday but it is unshown again....
I would search another way. though thank you for your reply.

[2016-06-15 00:32] antonygravett opened #60 "Can you help me get your code to work again?"
I am having trouble understanding how to adapt your code to the new instagram requirement for an access token.

I have logged into my client’s account and created a client ID. I don’t know what to do next, in order to get the required access token. Instagram says in the docs\* to "Direct the user to our authorization url” but does not provide the URL! Can you help with this?

Thanks in advance for

[2016-06-15 00:39] antonygravett commented on #60
This appears to describe what I need, as I am only displaying the most recent three pictures for three hashtags:

( Bottom of the page here: https://www.instagram.com/developer/sandbox/ )

[2016-06-15 18:43] antonygravett commented on #60
I now have a clientID and token but I don’t understand how to format your code to include the token. Right now, I have this code:

`
$(document).ready(function() {
      var clientId = 'baee48560b984845974f6b85a07bf7d9';
      $('.instagram.tag').on('didLoadInstagram', didLoadInstagram);
      $('.instagram.tag').instagram({
        hash: '2016corduroyshopproduct',
        count: 3,
        client

[2016-06-15 22:01] potomak commented on #60
@antonygravett try to assign your token to the `accessToken` option instead of `tokenId`.

Example:

[code]

[2016-06-15 23:19] antonygravett commented on #60
Thanks so much, @potomak, for jumping in and advising. Sorry to be such a lost soul!

I think now that I may have my “knickers in a twist” because I obtained the access token for a different javascript framework (spectragram). I am now not sure how I get the correct token for your framework, which I would prefer to stay with, if possible.

To get the previous token, I logged into my client’s insta

[2016-06-15 23:37] antonygravett commented on #60
I forgot to mention that I also set myself up as a Sandbox user, and logged in with my own IG account to accept that invite, and also obtained the token (using the above code) while logged-in.

I have also tried obtaining another token while logged-in as thecorduroyshop (admin), but that doesn’t work either:

http://corduroyshop.com/instagram-feeds/160615-instagram-left-2.html

[2016-06-16 16:03] potomak commented on #60
You have a JS error in that page, you're missing a comma in the options object.

![screen_shot_2016-06-16_at_11_58_47_am](https://cloud.githubusercontent.com/assets/153842/16123762/2ee05d72-33ba-11e6-885b-c081ec9d7932.png)

I'll close this issue because it seems to me that you're not dealing with a library error.

Please create a StackOverflow question to ask for help on how to use this script.

[2016-06-16 16:03] #60 closed, assigned to nobody

[2016-06-16 16:49] antonygravett commented on #60
OK, I understand why you are closing this out, but I think SO is a long shot to get this working ... the last inquiry was on Jan 28 and didn’t relate to the `accessToken` issue, afaict.

I uploaded modified versions of the two test files (each with different client IDs and access tokens) and there’s still no joy. I also changed the `jquery.min.js` script to a [remote one](http://ajax.googleapis.co

[2016-06-16 17:22] antonygravett commented on #60
_Not meaning to be snarky, but your “[home](http://potomak.github.io/jquery-instagram/)” page is also not displaying any images_

Thanks **so much** for being willing to accommodate an inexperienced coder such as myself!

[2017-01-18 16:09] agos1 opened #61 "bower"
if you put in bower minified version developer in development mode can debug.
there are tool as bindep making all after.

[2017-01-18 16:43] potomak commented on #61
@agos1 I don't understand the issue, what is the problem?

[2017-01-20 15:07] potomak commented on #61
Closing due to missing information and inactivity.

[2017-01-20 15:07] #61 closed, assigned to nobody